.bigContainer{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30vw;
    height: 75vh;
    margin-left: 35vw;
    padding: 2vh;
    margin-top: 10vh;
    border-radius: 11px;
}
.bigContainer .heading{
    margin-left: 12vw;
    font-size: 20px;
}

.inputPanel {
  display: flex;
  align-items: center; 
  width: 20vw;
  height: 5vh;
  padding: 0 8px;
  margin-left: 4vw;
}

.inputPanel img {
  width: 22px;
  height: 22px;
}

.inputPanel input {
  border: 1.3px rgb(195, 195, 195) solid;
  border-radius: 5px;
  height: 3vh;
  padding: 5px;
  margin-left: 1vw;
  flex: 1; 
}

.inputPanel {
  position: relative; 
  width: 317px;  
}

.suggestions {
  position: absolute;
  top: 100%; 
  left: 12.6%;
  width: 85%;
  background: white;
  border: 1px solid #2c2b2b;
  border-radius: 3px;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  margin: 0;
  padding: 0;
}


.suggestions li {
  padding: 0.5rem;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.mediumContainer{
    width: 21vw;
    height: 40vh;
    border: 1px rgb(195, 195, 195) solid;
    border-radius: 5px;
    margin-left: 4.6vw;
    margin-top: 3vh;
}

.burnsContainer, .bleedingContainer, .cprContainer, .dogContainer, .kitContainer {
  text-decoration: none;
  display: flex;
  align-items: center; 
  cursor: pointer;      
  padding: 8px;
  width: 19vw;  
  height: 20px;
}

.kitContainer{
  margin-top: 1vh;
}

.burnsContainer .ointment {
  width: 37px;
  height: 29px;
  margin:0 0.2vw;
}

 .bleedingContainer .next, .burnsContainer .next,.cprContainer .next, .dogContainer .next, .accidentContainer .next, .kitContainer .next {
  width: 25px;
  height: 22px;
  margin-left: 11vw;

}

.burnsContainer .next{
  margin-left: 11.2vw;
}

.kitContainer .next{
  margin-left: 6vw;
}

.burnsText, .bleedingText , .cprText, .dogText, .accidentText {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 0.3vw;
}

.accidentText{
  margin-left: 0.5vw;
}

.bleeding{
  width: 22px;
  height: 20px;
}

.bleedingContainer .next{
  margin-left:10.4vw;
}

.bleedingText{
  margin-left: 0.9vw;
}

.cpr{
  width: 34px;
  height:26.5px;
  margin-left: 0.3vw;
}


.cprContainer .next {
  margin-left: 12.6vw;
}

.cprText{
  margin-left: 0.6vw;
}

.dog{
  width: 40px;
  height: 31.5px;
}


.dogContainer .next{
  margin-left: 10vw;
}

.accidentContainer , .kitContainer{
   white-space: nowrap;
}

.cprContainer{
  padding:5px;
}

.snakeText{
  margin-left: 1vw;
}

.burnsContainer{
  margin-top: .3vh;
  height: 20px;
}

hr {
  border: none;
  border-top: 1px solid rgb(187, 187, 187);
}

.accidentContainer{
  text-decoration: none;
}

.accidentContainer .next{
  margin-left: 7vw;
}

.accident{
  margin-left: 1vw;
}

.choking, .drown, .fainting, .fracture, .burns, .head, .heat,.heart, .hypothermia, .nosebleed, .poison{
  margin-left: 11.8vw;
  font-size: 12px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.head, .heat, .heart, .hypothermia{
  margin-left: 10.5vw;
}

.footer{
  display: flex;
  flex-direction:row;
  width: 29.5vw;
  margin-top: 4vh;
  height: 10vh;
}

.footer .map, .footer .call{
  display: block;
  border: 2px solid rgb(255, 0, 0);
  border-radius: 5px;
  height: 4vh;
  padding: 5px;
  text-decoration: none;
  margin-left: 4.8vw;
  font-size: 16px;
}

.footer .map{
    width: 7.6vw;
}

.footer .call{
    width: 7vw;
}

.footer .mapText, .callText
{
  color: black;
  margin-left: 2px;
}
