.kitCntr{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30vw;
    height: 84vh;
    margin-left: 35vw;
    padding: 2vh;
    margin-top: 10vh;
    border-radius: 11px;
}
.kitCntr .kit{
    margin-left: 4vw;
    font-size: 18px;
}