.map-page {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 550px;
  margin: 2rem auto;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.map-page h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #19232d;
  text-align: center;
}

.map-page p {
  font-size: 1rem;
  color: #000000;
  text-align: center;
}

.map-page ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.map-page li {
  background-color: #f9fafb;
  border: 1px solid #e1e4e8;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: box-shadow 0.2s;
}

.map-page li:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.map-page strong {
  color: #161f27;
  font-size: 1.1rem;
}

.map-page .error {
  color: red;
}
